/* *, *::before, *::after {
  margin: 0;
  padding: 0;
} */

body{
  background-image: url("bbead4a1318caac7ea3e4fa8b2ed9e06.jpg");
}

h1{
  color: whitesmoke;
  text-align: center;
  font-family: 'Times';
  text-shadow: 6px 4px black;
  font-size: 90px;
  text-transform: uppercase;
  padding: 10px;
  margin: 15px;
}

#time{
  color: grey;
  font-size: 90px;
  text-align: center;
  font-weight: bolder;
  padding: 20px;
  margin: 20px;
}

#date{
  color: grey;
  font-size: 70px;
  text-align: center;
  font-weight: bold;
  padding: 0;
  margin: 0;
}